# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ClusterAnalysis.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\study\oiad\ClusterAnalysis\.idea\.idea.ClusterAnalysis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
